		<a href="/tonirovka" alt="Tonirovka">
			<button class="btn btn_main btn-danger" type="button" style="border-radius:15px 15px 0 0">
				<%= image_tag("tonirovka.png", size: "80x80",alt: "Tonirovka") %><br>
				Тонировка
			</button>
		</a>

	  	<a href="/avtovinyl" alt="Avtovinyl">
	  		<button class="btn btn_main btn-danger" type="button">
				<%= image_tag("vinyl_icon.png", size: "80x80", alt: "Avtovinyl") %><br>
				Автовинил
			</button>
		</a>

	  	<a href="/antigraviynaya_zashita" alt="Zashita">
	  		<button class="btn btn_main btn-danger" type="button">
				<%= image_tag("shield.png", size: "60x60", alt: "Zashita") %><br>
				Антигравийная защита
			</button>
		</a>

	  	<a href="/udalenie_skolov_na_steklax_avtomobilej" alt="Remont_stekol" >
	  		<button class="btn btn_main btn-danger" type="button">
				<%= image_tag("fix.png", size: "55x55", alt: "Remont_stekol") %><br>
				Ремонт сколов на стеклах
			</button>
		</a>

	  	<a href="/contact" alt="Contact">
	  		<button class="btn btn_main btn-danger" type="button" style="border-radius:0 0 15px 15px">
				<%= image_tag("contact.png", size: "55x55",alt: "Contact") %><br>
				Контакты
			</button>
		</a>