		<a href="<%= image_path("IMG_1c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_1c_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_2c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_2c_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_2cc.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_2cc_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_3c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_3c.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_3.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_3.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_4c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_4c.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_5c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_5c.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_6.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonk_mini.jpg",alt:"oj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_6_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_6c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_6c_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_7.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_7_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_7c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_7c_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_8.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_8_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_11c.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_11c_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_13.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_13_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_14.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_14_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_15.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_15_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_16.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_16_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_17.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_17_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_18.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_18_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_19.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_19_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>
		 <a href="<%= image_path("IMG_20.jpg") %>" style="text-decoration:none"
		alt="oklejka_avtomobilej_plyonkoj" class="image_gallery" rel="gallery">
		 	<%= image_tag("IMG_20_mini.jpg",alt:"oklejka_avtomobilej_plyonkoj",class:"img-polaroid",style:"width:30%") %>
		 </a>