<div style="position:relative">
    <div id="car_icons" style="width:15%">
        <div class="car_icon">
            <%= image_tag("middle.png") %>
            Средний класс
        </div>

        <div class="car_icon">
            <%= image_tag("business.png") %>
            Бизнес класс
        </div>

        <div class="car_icon">
            <%= image_tag("luxury.png") %>
            Премиум класс
        </div>

        <div class="car_icon">
            <%= image_tag("crossover.png") %>
            Кроссовер
        </div>
		
        <div class="car_icon">
            <%= image_tag("offroad.png") %>
            Внедорожник
        </div>

        <div class="car_icon">
		    <%= image_tag("minivan.png") %>
            Минивэн
        </div>
    </div>
    <div id="text_plenka">
        <br>
        <%= image_tag("dogovor.png",id:"dogovor") %>
    </div>
    <div id="vinyl_manual">
    Мы работаем с пленками:<br>
    <a href="http://www.3mrussia.ru" alt="3m">
        <%= image_tag("3m_icon.png",class:"image_brand",alt:"3m") %>
    </a>
    <a href="http://www.arlon.com" alt="arlon">
        <%= image_tag("arlon_icon.png",class:"image_brand",alt:"arlon") %>
    </a>
    <a href="http://www.kpmf.ru" alt="kpmf">
        <%= image_tag("kpmf_icon.jpg",class:"image_brand",alt:"kpmf") %>
    </a>
    <br>
    Телефон: 8 (909) 964-40-98
    </div>
</div>