		<h1>Оклейка автомобиля защитной пленкой – практичное решение</h1>
		<h3>
			Предлагаемая автовладельцам оклейка авто защитной пленкой позволяет создавать дополнительный протекционный слой на различных участках кузова, которые наиболее подвержены рискам механического и химического воздействия извне. Говоря более простыми словами, там, где могут появиться повреждения от фрагментов дорожного покрытия или реагентов, устанавливается специальная виниловая плёнка, предохраняющая кузовные детали от деформации.
		</h3><br>
		<div style="text-align:center">
		 	<a href="<%= image_path("antigrav2.jpg") %>" style="text-decoration:none"
				alt="zashita_plenkoj" class="image_gallery" rel="gallery">
		 		<%= image_tag("antigrav2.jpg",class:"img-polaroid",alt:"antigraviynaya_zashita",style:"width:34%") %>
		 	</a>
		 	<a href="<%= image_path("antigrav1.jpg") %>" style="text-decoration:none"
				alt="zashita_plenkoj" class="image_gallery" rel="gallery">
		 		<%= image_tag("antigrav1_small.jpg",class:"img-polaroid",alt:"antigraviynaya_zashita",style:"width:28%") %>
		 	</a>
		 	<a href="<%= image_path("antigrav3.jpg") %>" style="text-decoration:none"
				alt="zashita_plenkoj" class="image_gallery" rel="gallery">
		 		<%= image_tag("antigrav3_small.jpg",class:"img-polaroid",alt:"antigraviynaya_zashita",style:"width:28%") %>
		 	</a>
		</div><br>
		
		
		<h1>Стоимость оклейки автомобиля защитной пленкой</h1>
		<h6 style="font-size:1.2em;text-align:center">Комплекс (капот, бампер, передние крылья, фары, зеркала)</h6>
		<table class="table table-condensed">
	    <thead>
	        <tr>
	            <th></th>
	            <th>Виниловая пленка</th>
	            <th colspan="2">Полиуретановая пленка</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <th style="width:20%">Класс<br>автомобиля</th>
	            <th style="width:30%">
				    <a href="http://www.kpmf.ru" alt="kpmf">
				        <%= image_tag("kpmf_icon.jpg",style:"width:45%",alt:"kpmf") %>
				    </a>
				    <a href="http://www.orafol.com/gp/europe/ru/produkty/materialy-dlia-perenosa" alt="oraguard">
				        <%= image_tag("oraguard.jpg",style:"width:45%",alt:"kpmf") %>
				    </a>
				</th>			
	            <th>
				    <a href="http://www.ultravisionfilm.com"
					 alt="Ultravision">
				        <%= image_tag("ultravision.png",style:"width:100%",alt:"ultravision") %>
				    </a>
				</th>
	            <th>
				    <a href="http://www.suntekfilms.com/ru/automotive/suntek-window-films-automotive.aspx" alt="suntek">
				        <%= image_tag("suntek.jpg",style:"width:60%",alt:"suntek") %>
				    </a>
				</th>
	        </tr>
	        <tr>
	            <td>
					<%= image_tag("little.png",style:"width:100%") %><br>
					Малый класс
				</td>
	            <td class="price">18000 р.</td>
	            <td class="price">35000 р.</td>
	            <td class="price">50000 р.</td>
	        </tr>
	        <tr>
	            <td>
					<%= image_tag("middle.png",style:"width:100%") %><br>
					Средний класс
				</td>
	            <td class="price">23000 р.</td>
	            <td class="price">40000 р.</td>
	            <td class="price">60000 р.</td>
	        </tr>
	        <tr>
	            <td>
					<%= image_tag("business.png",style:"width:100%") %><br>
					Бизнес класс
				</td>
	            <td class="price">28000 р.</td>
	            <td class="price">47000 р.</td>
	            <td class="price">67000 р.</td>
	        </tr>
	    </tbody>
		</table>
		<h6 style="font-size:1.1em">Детали оклеиваются целиком</h6><br>
		
		
		 <h3>
			<strong>Оклейка защитными пленками в нашем сервисном центре отличается следующими принципами профессиональной технически грамотной работы:</strong><br><br>
			<ul>
				<li>Продуманный подбор участков кузова, нуждающихся в защите</li>
				<li>Компетентный подход к выбору виниловой защитной плёнки под финансовые возможности и практические запросы клиента</li>
				<li>Использование в рабочих процессах передового опыта и инновационного оборудования</li>
				<li>Возможность оклейки защитной плёнкой всего кузова</li>
				<li>Гарантии на установленную защиту</li>
			</ul>
			Оклейка автомобиля защитной пленкой, цена которой ниже любого кузовного ремонта – это экономически выгодное решение, позволяющее надёжно защитить лакокрасочный слой транспортного средства. В нашей мастерской подобные задачи реализуются на основе готовых решений, что позволяет придать процессу оптимальную оперативность и эффективность.
		</h3>
		<h1>Антигравийная защита – гарантия безупречного вида вашего авто</h1>
		<h3>
			Большинство наших дорог представляют собой дорожное покрытие самого низкого качества, а пресловутый «ямочный» ремонт является источником свободно расположенных на шоссе фрагментов гравия, смолы, песка, щебня или асфальта. В результате в процессе езды по такой дороге повреждаются крылья, бампер, капот и другие детали кузова. При этом воздействия возникают, как в результате движения самого транспортного средства, так и вследствие перемещения посторонних автомобилей.<br>
Антигравийная защита плёнкой – это единственно действенный метод, позволяющий сохранить привлекательность вашего авто. При этом следует понимать, что такой защитный слой при желании легко удаляется, так что перед продажей транспортного средства можно без особого труда избавиться от плёнки, которая честно приняла на себя все негативные воздействия.<br>
И ещё один важный момент – фирменная защитная плёнка формирует надёжную преграду не только на пути механических точечных ударов, но и эффективно защищает лакированную поверхность от разрушающего действия ультрафиолета, биологических веществ и химических реагентов, которыми в России зимой щедро посыпают дороги.<br>
Таким образом, все затраты на установку антигравийной защиты полностью окупаются отсутствием локального кузовного ремонта и необходимости малярных работ на повреждённых участках.<br>
Своевременная оклейка авто защитной плёнкой позволит вам сохранить свой автомобиль от неизбежных повреждений, что положительно скажется как на внешнем виде, так и на качестве предпродажной подготовки.
		</h3>

