<% provide(:title, 'Ремонт сколов на стеклах автомобиля') %>
<!DOCTYPE html>
<html>
<body>
<div class="row-fluid" id="slide-show">
	<div class="row-fluid opportunity">
		<h1>Результативный ремонт сколов на стеклах автомобилей. Новые технологии</h1>
		<h3>
			Сегодня в нашем сервисном центре автовладельцам предлагается эффективное ремонт сколов на лобовом стекле и на других светопропускающих элементах автомобилей. В некоторых случаях возможно восстановление повреждённых стёкол оптики, позволяющее с минимальными затратами устранить досадный дефект.
		</h3><br>
		<div style="text-align:center">
		 	<a href="<%= image_path("remont-skola3.jpg") %>" style="text-decoration:none"
				alt="udalenie_skolov_na_steklax_avtomobilej" class="image_gallery" rel="gallery">
		 		<%= image_tag("remont-skola3_little.jpg",class:"img-polaroid",alt:"udalenie_skolov_na_steklax_avtomobilej",style:"width:30%") %>
		 	</a>&nbsp
		 	<a href="<%= image_path("remont-skola4.jpg") %>" style="text-decoration:none"
				alt="udalenie_skolov_na_steklax_avtomobilej" class="image_gallery" rel="gallery">
		 		<%= image_tag("remont-skola4_little.jpg",class:"img-polaroid",alt:"udalenie_skolov_na_steklax_avtomobilej",style:"width:30%") %>
		 	</a>
		 	<a href="<%= image_path("remont-skola5.jpg") %>" style="text-decoration:none"
				alt="udalenie_skolov_na_steklax_avtomobilej" class="image_gallery" rel="gallery">
		 		<%= image_tag("remont-skola5_little.jpg",class:"img-polaroid",alt:"udalenie_skolov_na_steklax_avtomobilej",style:"width:30%") %>
		 	</a>
			
		</div><br>
		<h3>
			<strong>Ремонт сколов на стёклах, как правило, осуществляется на основе следующих этапов квалифицированных работ:</strong><br><br>
			<ul>
				<li>Изучение размера и характера повреждения</li>
				<li>Высверливание центральной части скола</li>
				<li>Очистка выемки с помощью специального состава</li>
				<li>Заполнение образовавшейся полости специальным полимером с ограничением доступа воздуха</li>
				<li>Облучения проблемного участка ультрафиолетовым излучением</li>
				<li>Удаление излишков полимера и финальная полировка</li>
			</ul>
			Сверление стекла не всегда используется для удаления сколов – зачастую встречаются так называемые двухсторонние трещины, которые имеют достаточно места для заполнения полимером. А вот если трещина носит лучевидный характер, то засверливание окончания является необходимой мерой, предоставляющей возможность предотвратить дальнейшее растрескивание.<br>
			Стоить заметить, что ремонт сколов на лобовом стекле эффективно лишь при условии быстрого обращения в нашу мастерскую сразу же после повреждения. Дело в том, что любой скол или трещина из-за естественных вибраций авто со временем может начинать «ползти» по стеклу, что приводит к более серьёзным повреждениям или необходимости полной замены светопропускающей детали. Кроме того, если тянуть с ремонтом стекла, в трещину набивается много грязи и пыли, которая разрушает структуру материала, что может стать причиной невозможности качественного восстановления.
		</h3>
		<h1>Ремонт сколов на стекле в рамках безопасности эксплуатации автомобиля</h1>
		<h3>
			Восстановительные работы этой категории необходимы как в плане реконструкции внешней эстетики стёкол, так и для обеспечения безопасности управления. Зачастую даже небольшой скол, расположенный на уровне глаз водителя, может стать причиной серьёзной аварии. А разбегающаяся во все стороны лучевая трещина способна привести к разрушению стекла даже при незначительном ударе.<br>
Особенную опасность представляют собой сколы на стёклах низкого качества или сталинитах, которые при сильных ударах способны рассыпаться на большое количество фрагментов. Несмотря на то, что большинство лобовых стёкол современных моделей изготавливаются из триплекса, на рынке всё равно попадаются автомобили, на которых спереди установлен сталинит. Владельцам таких автомобилей рекомендуется обращать пристальное внимание на наличие сколов и трещин, которые могут привести к самым нежелательным последствиям.<br>
Своевременное ремонт сколков на стекле, выполняемое опытными мастерами – это необходима мера предосторожности, позволяющая серьёзно сэкономить на приобретении новой дорогостоящей детали.
		</h3>
	</div>
	<div style="width:24%;height:100%;right:0;top:0;position:absolute;">
	<%= render "static_pages/menu" %>
	</div>
</div>
</body>
